## Ques1.

Q1. What are the characteristics of the tuples? Is tuple immutable?

Ans1. Tuples are an ordered collection of elements that is represented by parenthesis ( ).
Tuples can contain duplicates .
Tuples are immutable

## Ques2.

Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why
tuples have only two in-built methods as compared to Lists.

Ans2. Two tuple methods in python are :
.count() and .index()

In [1]:
t1 = (1,2,3,4,5)
t1.count(4)
# This method counts the number of occurances of the value passed as parameter

1

In [2]:
t1.index(4)
#This method returns the first index of the value passed as parameter

3

Tuples only have 2 methods because they are immutable and do not support any assignment operator or functions.

## Ques3.

Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove
duplicates from the given list.
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

Ans3. 'Set' dataype does not allows duplicate items due to the property  of hashable index.

In [3]:
# Removing the duplicates from the list:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [4]:
set(List)

{1, 2, 3, 4}

## Ques4.

Q4. Explain the difference between the union() and update() methods for a set. Give an example of
each method.

Ans4. 
union() method is used to return a new set with the values from the first set as well as second set.

update() method is used to return the first set with added values from the second set to it.

In [5]:
s1 = {1,3,5,7}
s2 = {2,4,6,8}

In [6]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [7]:
s1.update(s2)
s1

{1, 2, 3, 4, 5, 6, 7, 8}

## Ques5.

Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

Ans5. A dictionary is a collection of elements in the formof key-value pairs where all the keys are unique.
A dictionary is an unordered colection.

In [8]:
d1 = {'name' : 'Yash', 'age': 21, 'course' : 'Ds Master'}

In [9]:
d1

{'name': 'Yash', 'age': 21, 'course': 'Ds Master'}

## Ques6.

Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level
nested dictionary.

Ans6. Yes we can create a nested dictionary by passing one of the values in a dictionary as dictionary.

In [10]:
d1 = {'name' : {'first_name': 'yash', 'last_name' : 'singh'}}
d1

{'name': {'first_name': 'yash', 'second_name': 'singh'}}

## Ques7.

Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of
the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [12]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [13]:
dict1.setdefault('topics' , ['Python', 'Machine Learning','Deep Learning'])
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

## Ques8.

Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display
these three view objects for the given dictionary.
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

Ans8. The three view objects in dictionaries are key,value and items

In [15]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [16]:
dict1.keys()

dict_keys(['Sport', 'Teams'])

In [17]:
dict1.values()

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [18]:
dict1.items()

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])