## Ans1

SQL databases are relational databases that store data in tables with rows and columns. They use a structured query language (SQL) to manipulate and retrieve data. SQL databases are widely used and are known for their reliability, stability, and consistency. They are ideal for applications that require complex data modeling and transactions, such as financial systems, e-commerce sites, and inventory management systems.<br><br>
NoSQL databases are non-relational databases that do not use a fixed schema like SQL databases. Instead, they store data in documents, key-value pairs, or graphs. They are designed to handle large volumes of unstructured and semi-structured data, making them ideal for big data applications. NoSQL databases are also highly scalable, which means they can easily handle increases in data volume and traffic. Examples of NoSQL databases include MongoDB, Cassandra, and Amazon DynamoDB.

## Ans2

DDL stands for data definition language , it is a subset of SQL that is used to define and manipulate the structure of a database. DDL statements are used to create, alter, and drop database objects such as tables, indexes, and views.<br>
CREATE: The CREATE statement is used to create new database objects such as tables, indexes, and views<br>
### Example:<br>
CREATE TABLE customers (
   id INT PRIMARY KEY,
   name VARCHAR(50),
   email VARCHAR(50)
);<br>
DROP: The DROP statement is used to remove a database object such as a table, index, or view.<br>
### Example:<br>
DROP TABLE customers;<br>
The ALTER statement is used to modify the structure of an existing database object such as a table or index.<br>
### Example:<br>
ALTER TABLE customers ADD COLUMN phone VARCHAR(20);<br>
The TRUNCATE statement is used to remove all the data from a table. It is similar to the DELETE statement but is faster because it does not log the individual row deletions<br>
### Example:<br>
TRUNCATE TABLE customers;

## Ans3

DML (Data Manipulation Language) is a subset of SQL that is used to manipulate the data stored in a database. DML statements are used to insert, update, and delete data in tables.<br>
INSERT: The INSERT statement is used to add new data into a table<br>
Example<br>
INSERT INTO customersINSERT INTO customers (id, name, email) VALUES (1, 'Yash', 'yash@example.com');
 (id, name, email) VALUES (1, 'Yash', 'yash@example.com');<br>
UPDATE: The UPDATE statement is used to modify existing data in a table.<br>
Example<br>
UPDATE customers SET email = 'yash@example.com' WHERE id = 1;<br>
DELETE: The DELETE statement is used to remove data from a table<br>
Example<br>
DELETE FROM customers WHERE id = 1;

## Ans4

DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL statements are used to query a database and retrieve the information stored in the tables.

The main DQL statement is SELECT, which is used to retrieve data from one or more tables in a database.Example :<br>
SELECT * FROM customers;

## Ans5

Primary Key:
A primary key is a column or set of columns in a table that uniquely identifies each row in that table. The primary key constraint ensures that the values in the column(s) are unique and cannot be null. The primary key is used to create relationships between tables and is used as a reference by foreign keys in other tables. For example, in a table of customers, the customer ID might be the primary key, as each customer would have a unique ID.

Foreign Key:
A foreign key is a column or set of columns in one table that refers to the primary key in another table. It is used to establish a relationship between two tables. The foreign key constraint ensures that the values in the column(s) must exist in the referenced primary key column of another table, or must be null. For example, in a table of orders, there might be a foreign key that refers to the primary key of the customers table, indicating which customer placed the order.

## Ans6

In [ ]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="yash",
  database="sakila"
)

mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM language")

results = mycursor.fetchall()

for row in results:
    print(row)

## Ans7

The order of execution of SQL clauses is:<br>

FROM: The FROM clause specifies the table or tables from which data is being retrieved.

JOIN: The JOIN clause is used to combine rows from two or more tables based on a related column between them.

WHERE: The WHERE clause is used to filter rows based on a specified condition.

GROUP BY: The GROUP BY clause is used to group rows that have the same values into summary rows.

HAVING: The HAVING clause is used to filter the groups that are created by the GROUP BY clause.

SELECT: The SELECT clause is used to select specific columns or expressions from the tables.

DISTINCT: The DISTINCT keyword is used to remove duplicates from the result set.

ORDER BY: The ORDER BY clause is used to sort the result set based on one or more columns.

LIMIT: The LIMIT clause is used to limit the number of rows returned by the query.